USE [master]
GO
/****** Object:  Database [EMPLOYEE_DB]    Script Date: 23-08-2023 16:22:22 ******/
CREATE DATABASE [EMPLOYEE_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMPLOYEE_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EMPLOYEE_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMPLOYEE_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EMPLOYEE_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPLOYEE_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMPLOYEE_DB]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 23-08-2023 16:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ACC_ID] [int] IDENTITY(10001,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[ACC_NO] [bigint] NULL,
	[ACC_IFSC] [varchar](12) NULL,
	[RECORD_CREATED_ON] [datetimeoffset](7) NULL,
	[ROWVERSION] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 23-08-2023 16:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[ATT_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_ID] [int] NULL,
	[TIME_IN] [datetime] NULL,
	[TIME_OUT] [datetime] NULL,
	[RECORD_CREATED_ON] [datetimeoffset](7) NULL,
	[ROWVERSION] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ATT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE_DETAILS]    Script Date: 23-08-2023 16:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_DETAILS](
	[EMP_ID] [int] IDENTITY(101,1) NOT NULL,
	[EMP_NAME] [varchar](20) NULL,
	[RECORD_CREATED_ON] [datetimeoffset](7) NULL,
	[ROWVERSION] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARY]    Script Date: 23-08-2023 16:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY](
	[SALARY_ID] [int] IDENTITY(1001,1) NOT NULL,
	[ACC_ID] [int] NULL,
	[SAL_AMT] [money] NULL,
	[MONTH_SALARIED] [varchar](5) NULL,
	[RECORD_CREATED_ON] [datetimeoffset](7) NULL,
	[ROWVERSION] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SALARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ACC_ID], [EMP_ID], [ACC_NO], [ACC_IFSC], [RECORD_CREATED_ON]) VALUES (10001, 101, 123456, N'BKID0007203', CAST(N'2023-08-23T15:34:34.6950752+05:30' AS DateTimeOffset))
INSERT [dbo].[ACCOUNT] ([ACC_ID], [EMP_ID], [ACC_NO], [ACC_IFSC], [RECORD_CREATED_ON]) VALUES (10002, 101, 741258, N'BKID0007203', CAST(N'2023-08-23T15:34:59.2685851+05:30' AS DateTimeOffset))
INSERT [dbo].[ACCOUNT] ([ACC_ID], [EMP_ID], [ACC_NO], [ACC_IFSC], [RECORD_CREATED_ON]) VALUES (10003, 102, 456321, N'BKID0007203', CAST(N'2023-08-23T15:35:14.5892318+05:30' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
SET IDENTITY_INSERT [dbo].[ATTENDANCE] ON 

INSERT [dbo].[ATTENDANCE] ([ATT_ID], [EMP_ID], [TIME_IN], [TIME_OUT], [RECORD_CREATED_ON]) VALUES (1, 101, CAST(N'2023-01-01T09:00:00.000' AS DateTime), CAST(N'2023-01-01T06:00:00.000' AS DateTime), CAST(N'2023-08-23T15:42:04.3917417+05:30' AS DateTimeOffset))
INSERT [dbo].[ATTENDANCE] ([ATT_ID], [EMP_ID], [TIME_IN], [TIME_OUT], [RECORD_CREATED_ON]) VALUES (2, 101, CAST(N'2023-01-02T09:00:00.000' AS DateTime), CAST(N'2023-01-02T06:00:00.000' AS DateTime), CAST(N'2023-08-23T15:42:44.9842988+05:30' AS DateTimeOffset))
INSERT [dbo].[ATTENDANCE] ([ATT_ID], [EMP_ID], [TIME_IN], [TIME_OUT], [RECORD_CREATED_ON]) VALUES (3, 101, CAST(N'2023-01-03T09:00:00.000' AS DateTime), CAST(N'2023-01-03T06:00:00.000' AS DateTime), CAST(N'2023-08-23T15:43:01.3880769+05:30' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[ATTENDANCE] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE_DETAILS] ON 

INSERT [dbo].[EMPLOYEE_DETAILS] ([EMP_ID], [EMP_NAME], [RECORD_CREATED_ON]) VALUES (101, N'Ajay', CAST(N'2023-08-23T15:31:12.6258911+05:30' AS DateTimeOffset))
INSERT [dbo].[EMPLOYEE_DETAILS] ([EMP_ID], [EMP_NAME], [RECORD_CREATED_ON]) VALUES (102, N'Vijay', CAST(N'2023-08-23T15:31:27.9527120+05:30' AS DateTimeOffset))
INSERT [dbo].[EMPLOYEE_DETAILS] ([EMP_ID], [EMP_NAME], [RECORD_CREATED_ON]) VALUES (103, N'Sanjay', CAST(N'2023-08-23T15:31:37.5229032+05:30' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[EMPLOYEE_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[SALARY] ON 

INSERT [dbo].[SALARY] ([SALARY_ID], [ACC_ID], [SAL_AMT], [MONTH_SALARIED], [RECORD_CREATED_ON]) VALUES (1002, 10001, 62500.0000, N'JAN', CAST(N'2023-08-23T15:38:09.5768285+05:30' AS DateTimeOffset))
INSERT [dbo].[SALARY] ([SALARY_ID], [ACC_ID], [SAL_AMT], [MONTH_SALARIED], [RECORD_CREATED_ON]) VALUES (1003, 10002, 62300.0000, N'JAN', CAST(N'2023-08-23T15:38:21.4891997+05:30' AS DateTimeOffset))
INSERT [dbo].[SALARY] ([SALARY_ID], [ACC_ID], [SAL_AMT], [MONTH_SALARIED], [RECORD_CREATED_ON]) VALUES (1004, 10003, 62300.0000, N'MAR', CAST(N'2023-08-23T15:38:51.2973283+05:30' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[SALARY] OFF
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE_DETAILS] ([EMP_ID])
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE_DETAILS] ([EMP_ID])
GO
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD FOREIGN KEY([ACC_ID])
REFERENCES [dbo].[ACCOUNT] ([ACC_ID])
GO
USE [master]
GO
