USE [master]
GO
/****** Object:  Database [EMPLOYEE_DB2]    Script Date: 23-08-2023 16:22:51 ******/
CREATE DATABASE [EMPLOYEE_DB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMPLOYEE_DB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EMPLOYEE_DB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMPLOYEE_DB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EMPLOYEE_DB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPLOYEE_DB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMPLOYEE_DB2]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 23-08-2023 16:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ACC_ID] [int] IDENTITY(10001,1) NOT NULL,
	[EMP_CODE] [varchar](10) NULL,
	[EMP_NAME] [varchar](20) NULL,
	[ACC_NO] [bigint] NOT NULL,
	[ACC_IFSC] [varchar](12) NULL,
	[RECORD_CREATED_ON] [datetimeoffset](7) NULL,
	[ROWVERSION] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE_DETAILS]    Script Date: 23-08-2023 16:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE_DETAILS](
	[EMP_ID] [int] IDENTITY(101,1) NOT NULL,
	[EMP_CODE] [varchar](10) NOT NULL,
	[EMP_NAME] [varchar](20) NOT NULL,
	[RECORD_CREATED_ON] [datetimeoffset](7) NULL,
	[ROWVERSION] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_CODE] ASC,
	[EMP_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARY]    Script Date: 23-08-2023 16:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY](
	[SALARY_ID] [int] IDENTITY(1001,1) NOT NULL,
	[ACC_ID] [int] NULL,
	[EMP_CODE] [varchar](10) NULL,
	[EMP_NAME] [varchar](20) NULL,
	[SAL_AMT] [money] NULL,
	[MONTH_SALARIED] [varchar](5) NULL,
	[RECORD_CREATED_ON] [datetimeoffset](7) NULL,
	[ROWVERSION] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SALARY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ACC_ID], [EMP_CODE], [EMP_NAME], [ACC_NO], [ACC_IFSC], [RECORD_CREATED_ON]) VALUES (10001, N'EMP105', N'DIGVIJAY', 987456, N'BKID0007503', CAST(N'2023-08-23T16:01:42.3348229+05:30' AS DateTimeOffset))
INSERT [dbo].[ACCOUNT] ([ACC_ID], [EMP_CODE], [EMP_NAME], [ACC_NO], [ACC_IFSC], [RECORD_CREATED_ON]) VALUES (10002, N'EMP105', N'DIGVIJAY', 123456, N'BKID0007503', CAST(N'2023-08-23T16:01:50.8633231+05:30' AS DateTimeOffset))
INSERT [dbo].[ACCOUNT] ([ACC_ID], [EMP_CODE], [EMP_NAME], [ACC_NO], [ACC_IFSC], [RECORD_CREATED_ON]) VALUES (10003, N'EMP104', N'DHANANJAY', 987456, N'BKID0007503', CAST(N'2023-08-23T16:02:15.1437114+05:30' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE_DETAILS] ON 

INSERT [dbo].[EMPLOYEE_DETAILS] ([EMP_ID], [EMP_CODE], [EMP_NAME], [RECORD_CREATED_ON]) VALUES (101, N'EMP101', N'AJAY', CAST(N'2023-08-23T15:56:28.2563244+05:30' AS DateTimeOffset))
INSERT [dbo].[EMPLOYEE_DETAILS] ([EMP_ID], [EMP_CODE], [EMP_NAME], [RECORD_CREATED_ON]) VALUES (102, N'EMP102', N'VIJAY', CAST(N'2023-08-23T15:56:47.3499880+05:30' AS DateTimeOffset))
INSERT [dbo].[EMPLOYEE_DETAILS] ([EMP_ID], [EMP_CODE], [EMP_NAME], [RECORD_CREATED_ON]) VALUES (103, N'EMP103', N'SANJAY', CAST(N'2023-08-23T15:56:58.1483914+05:30' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[EMPLOYEE_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[SALARY] ON 

INSERT [dbo].[SALARY] ([SALARY_ID], [ACC_ID], [EMP_CODE], [EMP_NAME], [SAL_AMT], [MONTH_SALARIED], [RECORD_CREATED_ON]) VALUES (1001, 10007, N'EMP101', N'AJAY', 65200.0000, N'JAN', CAST(N'2023-08-23T16:05:39.1414788+05:30' AS DateTimeOffset))
INSERT [dbo].[SALARY] ([SALARY_ID], [ACC_ID], [EMP_CODE], [EMP_NAME], [SAL_AMT], [MONTH_SALARIED], [RECORD_CREATED_ON]) VALUES (1002, 10007, N'EMP101', N'AJAY', 65200.0000, N'FEB', CAST(N'2023-08-23T16:06:30.7936431+05:30' AS DateTimeOffset))
INSERT [dbo].[SALARY] ([SALARY_ID], [ACC_ID], [EMP_CODE], [EMP_NAME], [SAL_AMT], [MONTH_SALARIED], [RECORD_CREATED_ON]) VALUES (1003, 10006, N'EMP101', N'AJAY', 65200.0000, N'MAR', CAST(N'2023-08-23T16:06:56.5038321+05:30' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[SALARY] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPLOYEE__D4F454E990E9E60B]    Script Date: 23-08-2023 16:22:52 ******/
ALTER TABLE [dbo].[EMPLOYEE_DETAILS] ADD UNIQUE NONCLUSTERED 
(
	[EMP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ('Prolifics') FOR [EMP_NAME]
GO
ALTER TABLE [dbo].[EMPLOYEE_DETAILS] ADD  DEFAULT ('Prolifics') FOR [EMP_NAME]
GO
ALTER TABLE [dbo].[SALARY] ADD  DEFAULT ('Prolifics') FOR [EMP_NAME]
GO
ALTER TABLE [dbo].[SALARY] ADD  DEFAULT ((0)) FOR [SAL_AMT]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [LINK_TO_ACCOUNT] FOREIGN KEY([EMP_CODE], [EMP_NAME])
REFERENCES [dbo].[EMPLOYEE_DETAILS] ([EMP_CODE], [EMP_NAME])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [LINK_TO_ACCOUNT]
GO
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD FOREIGN KEY([ACC_ID])
REFERENCES [dbo].[ACCOUNT] ([ACC_ID])
GO
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD  CONSTRAINT [LINK_TO_SALARY] FOREIGN KEY([EMP_CODE], [EMP_NAME])
REFERENCES [dbo].[EMPLOYEE_DETAILS] ([EMP_CODE], [EMP_NAME])
GO
ALTER TABLE [dbo].[SALARY] CHECK CONSTRAINT [LINK_TO_SALARY]
GO
USE [master]
GO
